<html>
    <head>
        <meta http-equiv="Content-Type" content="text_html; charset=utf-8">
        <title>お店検索</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link href="./CSS/layout.css" rel="stylesheet">
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="py-5">
                <div class="card border-0 text-center bg-light mb-3">
                    <div class="card-body">
                        <h2 class="card-title">お店検索アプリ</h2>
                        <div class="card-text">
                            <p class="lead">
                                ごはんを食べるときに、お店を早く検索できるプログラムです。<br>
                                位置情報をもとに近くにあるお店を検索することや
                                自分のお気に入りのお店を登録できたりもします
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <form method="POST" class="mui-form" action="/cgi-bin/original/original_app.py">
                            <h4 class="mb-3">お店の条件を入力</h4>
                            <div class="mb-3">
                                <label>場所</label>
                                <input type="text" class="form-control" name="address" value="" placeholder="住所や駅名">
                            </div>
                            <div class="mb-3">
                                <label>ジャンル</label>
                                <input type="text" class="form-control" name="keyword" value="" placeholder="ジャンル">
                            </div>
                            <div class="mb-3">
                                <label class="custom-control-label">
                                    <input type="checkbox" class="custom-control-input" name="lunch" value="0" placeholder="0">
                                    ランチの有無
                                </label>
                            </div>
                            <div class="mt-5 mb-3">
                                <button type="submit" class="btn btn-primary btn-lg w-100"><i class="bi bi-search"></i> Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-5">
                            <form method="POST" action="../cgi-bin/original/local_info.py">
                                <button type="submit" class="btn btn-success w-100"><i class="bi bi-geo-alt"></i> 現在地から探す</button>
                            </form>
                            <form method="POST" action="../cgi-bin/original/all_database.py">
                                    <button type="submit" class="btn btn-danger w-100"><i class="bi bi-bookmark-heart"></i> お気に入り一覧を見る</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>
